# Byte-complied / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Flask stuff
instance/
.webassets-cache

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# SQLite databases
*.sqlite

# virtualenv
venv/
ENV/

